*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* navbar styling */
.navbar-nav{
    font-size: 0.9em;
	font-family: 'Source Sans Pro', sans-serif;
    margin-right: 5%;

}

.navbar-nav .nav-link{
    margin-right: 40px;
    color: rgb(3 32 47) !important;
}

.dropdown:hover .dropdown-menu{
	display: block;
}

.dropdown .dropdown-menu{
	background-color: transparent;
	border: none;
}

.dropdown .dropdown-menu .dropdown-item{
	
	background-color: #F1F2F5;	
}

.dropdown .dropdown-menu .dropdown-item:hover{
	background-color: rgb(16, 105, 146);
	color: white;
}

.dropdown-toggle::after{
	display: none;
}


.logo{
	height: auto;
	width: 120px;
}

/* end of navbar styling */

body{
    color: #2D2B2B;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: inherit;
    font-size: 1.2em;
    line-height:1.8;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* landing styling starts */
.homepage{
    padding-top: 50px;
	height: 660px;
	overflow-x:hidden;
    background-image: url(../images/blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage .topic{
    padding-top: 50px;
    margin-left: 950px;
    color: rgb(16, 105, 146);
}

.homepage h2{
    padding-top: 220px;
    font-size: 2em;
	font-family: 'Source Sans Pro', sans-serif;
    color:  rgb(12, 79, 110);


}

.homepage h1{
    font-size: 2.5em;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(12, 79, 110);


}

.homepage p{
    color: rgb(12, 79, 110);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;
}

.homepage-illustration{
    padding-top: 80px;
    height: auto;
}

.homepage .btn{
    background-color: white;
    color: rgb(12, 79, 110);
    align-items: center;
    border-radius: 12px;
}

.homepage .btn:hover{
    color: white;
    background-color:rgb(12, 79, 110) ;
}

.homepage img{
    height: auto;
    width: 200px;
}
/* end of homepage styling */

/* templaes page styling starts */

/* top section  */
.templates-title{
    padding-top: 80px;
    font-family:'Source Sans Pro', sans-serif ;
}

.templates-title .part2{
    margin-top: 10px;
    font-size: 2.5em;
    color: rgb(12, 79, 110);

}

.templates-title .part1{
    margin-top: 10px;
    font-size: 2.5em;
    color: #2D2B2B;

}


/* end of top section  */

.templates{
    padding-top: 50px;
}

.templates .card{
	margin-top: 50px; 
}

.card-img{
    width: 250px;
    height: 190px;
    overflow: hidden;
    object-fit: cover;
}

/* end of templates page styling */

/* user login styling */
.login-super-container{
    background-color:rgb(173, 194, 204);
    height: 100vh;
}
.login-container h1{
    margin-top: 10px;
    font-size: 2em;
    font-family:'Source Sans Pro', sans-serif ;
    color: rgb(12, 79, 110);

}
.login-container{
    background-color:white;
    border-radius: 12px;
    font-family:'Source Sans Pro', sans-serif ;

}

.login-container .form-group,
.form-check{
    font-size: 1em;
    color: rgb(12, 79, 110);
}
.login-container .btn{
    background-color: rgb(12, 79, 110);
    color:white;
    border-radius: 25px;
    padding: 9px 30px;
}

.login-container .btn:hover{
    background-color:rgb(69, 160, 202) ;
    color: white;
}

/* user login styling ends  */

/* information filling page styling */

.info-form{
    padding-top: 50px;
    margin-top: 100px;
}

.certificate-image{
    padding-top: 130px;
}

.certificate-image img{
    padding-left: 50px;
    height: auto;
    width: 700px;
    object-fit: cover;
    overflow: hidden;
}

.fill-information .form-group{
    color:rgb(12, 79, 110);
}

.fill-information .btn{
    color:rgb(3 32 47);
    background-color: white;
}

.fill-information .btn:hover{
    color: white;
    background-color:rgb(12, 79, 110) ;
}

/* end of information filling page styling */

/* template create page  */

.templates-create-super-container{
    background-color: rgb(208, 228, 236);
    height: 100vh;

}
.templates-create{
    margin-top: 95px;
    background-color:white;
    border-radius: 12px;
    font-family:'Source Sans Pro', sans-serif ;
    padding: 20px;
    height: 515px;
    
}

.templates-create .form-group,
.form-check{
    font-size: 1em;
    color: rgb(12, 79, 110);
}
.templates-create .btn{
    background-color: rgb(12, 79, 110);
    color:white;
    border-radius: 25px;
    padding: 9px 30px;
}

.templates-create .btn:hover{
    background-color:rgb(69, 160, 202) ;
    color: white;
}

/* admin dashboard styling */

.admin-super-container{
    height: 100vh;
    background-color: rgb(208, 228, 236);

}

.admin-container{
    background-color:white;
    border-radius: 12px;
    margin-top: 130px;
    font-family:'Source Sans Pro', sans-serif ;
    padding: 20px;
    height: 150px;
}

.admin-container h1{
    font-size: 1em;
    font-family:'Source Sans Pro', sans-serif ;

}

.admin-container h2{
    font-size: 1.5em;
    font-family:'Source Sans Pro', sans-serif ;
    
}
/* end of admin dashboard styling */